body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 12px;
}

.team {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color change */
}
.team:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
}

.team-info {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.team-img {
    width: 200px;
    height: 200px;   
}

.newsContent {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.news-item {
    padding: 10px;   
}

.divider {
    border-top: 2px solid #ccc;
}

.venue-img {
    width: 300px;
    height: 180px;
    border: 3px solid #ccc;
    border-radius: 8px;
}

.team-section, .venue-section {
    flex: 1;
    margin-right: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
    font-size: 10px;
    color: rgb(124, 124, 124);
}


