body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 12px;
}

a.external-link {
    padding-right: 15px;
    background: url('../images/external.svg') no-repeat right center;
    background-size: 10px 10px;
}

.team {
    border: 1px solid #616161;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.team:hover, .team.active {
    background-color: #c5c5c5;
}

.team-info {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.team-colors {
    display:inline-block; 
    width:20px; 
    height:20px;
}

.team-img {
    width: 200px;
    height: 200px;   
}

.newsContent {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.news-item {
    padding: 10px;   
}

.divider {
    border-top: 2px solid #ccc;
}

.venue-img {
    width: 300px;
    height: 180px;
    border: 3px solid #ccc;
    border-radius: 8px;
}

.ticketbutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ticketbutton:hover {
    background-color: #0056b3;
}

.team-section, .venue-section {
    flex: 1;
    margin-right: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid #ccc;
    font-size: 10px;
    color: rgb(124, 124, 124);
}

#scoresContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    padding: 10px;
}

.score-line {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}

.score-detail {
    font-size: 12px;
    margin-right: 10px;
}

.status-detail {
    font-weight: bold;
    margin-bottom: 10px;
}

#scoresContainer img {
    height: 20px;
    margin-right: 10px;
}

#scoresContainer div p {
    display: inline;
    margin-right: 30px;
}

.game-element {
    border-right: 2px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    min-width: 100px;
}
